<script type="text/javascript">var MOJITO_INIT=new Date().getTime();</script>
<meta name="creator" content="Yahoo! Mojito ">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<title>Yahoo!奇摩服務+ 找房 | 找車 | 找旅遊 | 找服務</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<link rel="stylesheet" href="/static/Css/assets/mobile.css">

<!--search start-->
<!--search end-->
</head>
<body>
<div id="yui_3_9_1_2_1382866494837_17" class="mojit pageLayout trib" >
        <div class="myheader" >
        <div id="yui_3_9_1_2_1382866494837_8" class="mojit">
            <h3></h3>
        </div>
    </div>
    <div class="mybody" >
    <!--input start-->
    <div id="ycflexsearch" class="">
        <img src="http://l.yimg.com/rz/d/yahoo_local_zh-Hant-TW_serviceplus_f_p_350x40_serviceplus.png">
        <input type="text" name="kw" id="kw">
        <button id="search_btn" type="submit" class="pure-button pure-button-primary">Search</button>
        </div>
        <br/>
        <br/>
        <br/>
    <!--input end-->


        <div id="yui_3_9_1_2_1382866494837_16" class="mojit">
            <h4 class="bodytext"></h4>
            <div class="bodyStuff yui3-u-1">
                <div id="yui_3_9_1_2_1382866494837_15" class="mojit">
                </div>
            </div>
            </div>
        <div id="search_result">
        </div>

        <div id="loading_img" class="yui3-sample-hidden" name="loading_img">
        Loading<img src="http://l.yimg.com/f/i/tw/adpost/adpost/loading.gif" >

        </div>
        <div class="myfooter" >
            <div id="yui_3_9_1_2_1382866494837_10" class="mojit">
                <small>Copyright 2013 Yahoo! Inc.</small>
            </div>
        </div>
    </div>
</body>
<!--search start-->
<script src="http://yui.yahooapis.com/3.13.0/build/yui/yui-min.js"></script>
<script>
YUI().use('node', 'yql', 'node-scroll-info','node-style', function(Y) {
    Y.namespace('serch_parameter').cp=1;//initial
    Y.namespace('serch_parameter').moreResult = true;
    var body = Y.one('body');

    body.plug(Y.Plugin.ScrollInfo);
    body.scrollInfo.on('scrollToBottom', function (e) {
        // Load more content when the user scrolls to the bottom of the page.
        Y.namespace('serch_parameter').cp = Y.namespace('serch_parameter').cp+1;
        kw = Y.namespace('serch_parameter').kw;
        cp  = Y.namespace('serch_parameter').cp;
        searchWs(kw, cp);
    });

    function searchWs(kw, cp)
    {

        console.log(kw+','+cp);

        if (kw) {
            sql = 'select * from json where url="http://tw.serviceplus.yahoo.com/search/search_services?'
            +'kw='+kw
            +'&catid=&undedup=0&unspc=0&cata=&catb=&pricea=&priceb=&items=&areaa=tw&areab=&areac=&sort=3&total=3824&'
            +'cp='+cp
            +'&ppa=30&pa=10&type=srplist&vmode=0&action=srplistquery"';
            showLoadingImg(Y);
            var q = Y.YQL(sql, {
                //Tell JSONP to not cache this request so we get new images on each request
                allowCache: false,
                on: {
                    success: function(r) {
                        hiddenLoadingImg(Y);
                        if (r.query && r.query.results) {
                            if (r.query.results.json.data instanceof Array) {
                                //console.log(r.query.results.json.data);
                                hiddenLoadingImg(Y);
                                handleSearchResult(
                                    Y.one("#search_result"),
                                    r.query.results.json.data
                                );
                            } else {
                                setNoMoreResultFlagAndHtml( Y.one("#search_result"));

                            }
                        }
                    }
                }
            });
            q.send;
            //Y.later(8000, q, q.send, null, true);
        }
    }

    Y.one("#search_btn").on("click", function (e) {
        kw = Y.one("#kw").get('value');
        Y.namespace('serch_parameter').moreResult = true;
        if (kw) {
            showLoadingImg(Y);

            resetSearchResult(Y.one("#search_result"));///reset
            Y.namespace('serch_parameter').kw = kw;
            cp = Y.namespace('serch_parameter').cp = 1;
            searchWs(kw, cp);

        }

    });
    function showLoadingImg(Y)
    {
        node = Y.one("#loading_img");

        if (node) {

            console.log("showLoadingImg:: OK");
            node.removeClass('yui3-sample-hidden');
        } else {
            console.log("showLoadingImg:: fail");

        }
    }
    function hiddenLoadingImg(Y)
    {

        node = Y.one("#loading_img");
        if (node) {

            console.log("hiddenLoadingImg:OK");
            node.addClass('yui3-sample-hidden');
        } else {
            console.log("hiddenLoadingImg:fail");
        }
    }
    function setNoMoreResultFlagAndHtml(node)
    {
        if ( Y.namespace('serch_parameter').moreResult == true) {
            allResult = node.getHTML();
            allResult = allResult + '<div class="mod" id="blog"><h3><strong>No more result</strong></h3></div>';
            node.setHTML(allResult);
        }
        Y.namespace('serch_parameter').moreResult = false;
    }

    function resetSearchResult(node)
    {
        node.setHTML('');

    }
    function handleSearchResult(node, searchResult)
    {
        allResult = node.getHTML();
        newResult = '';

        for (var key in searchResult){
            if (key != "0") {
                boothLink = searchResult[key].link;
                sellerName = searchResult[key].poster;
                itemLink = searchResult[key].mlink;
                img = searchResult[key].img;
                itemTitle = searchResult[key].title;
                price = searchResult[key].price;
                address = searchResult[key].location;
                newResult = newResult+ genItemHtml(boothLink, sellerName , itemLink, img, itemTitle, price, address);
            }
        }
        allResult = allResult+newResult;
        node.setHTML(allResult);
    }

    function genItemHtml(boothLink, sellerName, itemLink, itemImg, itemTitle, price, address)
    {
        /*
         ad_map_display: "on"
         ad_summary: "KEY GO全車車門自動吸門裝置3D 影像環景.電熱記憶跑車椅/電尾門頂級配備.黑.白現車多部"
         advv: "1"
         desc: "KEY GO全車車門自動吸門裝置3D 影像環景.電熱記憶跑車椅/電尾門頂級配備.黑.白現車多部"
         h: "120"
         img: "http://nevec.yimg.com/tw_ec00-0/d6/a8/m1/0000247311480-2162.jpg"
         lat: "25.047726"
         link: "http://tw.serviceplus.yahoo.com/booth/seller/Y5293877552"
         lng: "121.4358"
         location: "臺灣新北市泰山區中山路二段187之3號"
         mid: "000014635737"
         mlink: "http://tw.serviceplus.yahoo.com/item/detail/000014635737"
         olink: ""
         poster: "廣碩國際汽車"
         price: "1"
         promobg: "0"
         promokit: "0"
         ptype: "0"
         tag: "-1"
         title: "BMW 535 現車多部228萬起 廣碩國際535i"
         utime: "2013/10/25 16:43"
         w: "160"
         */

        var itemHtml =
        '<div class="pure-g">'
        +"\n"+'<div class="pure-u-1 l-box">'
        +"\n"+'<h3>'
        +"\n"+'<strong>'+itemTitle+'</strong>'
        +"\n"+'</h3>'

        +"\n"+'<ul>'
        +"\n"+'<li>'
        +"\n"+'<strong>'
        +"\n"+'<a href="'+boothLink+'">'+sellerName+'</a><br>'
        +"\n"+'<a href="'+itemLink+'">'
        +"\n"+'<img src="'+itemImg+'" alt="'+itemTitle+'">'
        +"\n"+'</a><br>'
        +"\n"+'</strong><br>'
        +"\n"+'<span>價格：'+price+'元</span><br>'
        +"\n"+'<span>地區：'+address+'</span><br>'
        +"\n"+'</li>'
        +"\n"+'</ul>'
        +"\n"+'</div>'
        +"\n"+'</div><br/>';
        return itemHtml;
    }

});
</script>
